.card {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
  }
